<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Tasky | Shared Task Lists</title>
    <link rel="shortcut icon" href="/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
  	<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
  	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
  	<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
  	<link rel="apple-touch-icon" href="/favicon-57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
  	<meta name="msapplication-TileColor" content="#FFFFFF">
  	<meta name="msapplication-TileImage" content="/favicon-144.png">
  	<meta name="msapplication-config" content="/browserconfig.xml">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c5b1bbaabc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body class="bg-light">

  <div class="container my-4">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-8">
          <% if(error && error.length > 0){ %>
            <div class="bg-white rounded-right border-left border-danger shadow-sm text-center py-3 px-2">
              <p class="mb-0"><strong>Uh oh! </strong><%= error %></p>
            </div>
          <% } %>
          <% if(success && success.length > 0){ %>
            <div class="bg-white rounded-right border-left border-success shadow-sm text-center py-3 px-2">
              <p class="mb-0"><strong>Nice! </strong><%= success %></p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
